body {
  font-family: Arial, sans-serif;
  background-color: #cacaca;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.category-title {
  margin: 20px 0;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.movie-list {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 250px;
  justify-content: center;
}

.movie-item {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.movie-item p {
  text-align: left;
}

.movie-item img {
  width: 100%;
  height: auto;
}

.movie-item h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.movie-item p {
  padding: 0 10px;
  color: #666;
}

.movie-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
