* {
  margin: 0;
  padding: 0;
}
body {
  main {
    display: flex;
    justify-content: center;
    gap: 50px;
    .logo {
      padding: 15px;
      margin-top: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 95%;
      background-color: black;
      img {
        width: 30%;
      }
    }
    .contacto {
      padding: 15px;
      margin-bottom: 50px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 95%;
      background-color: black;
      color: white;
      img {
        width: 100px;
      }
    }
    .contacto-1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }
  }
  footer {
    position: absolute;
    width: 100%;
    background-color: black;
    .footer1 {
      .rotacion-imagen-imagen {
        width: 200px;

        animation: rotacion-imagen-imagen 5s infinite linear;
        .footer-redes {
          svg {
            margin: 3px;
            height: 50px;
            color: rgb(255, 255, 255);
          }
        }
        .footer-secciones {
          ul {
            li {
              list-style: none;
              a {
                font-size: 20px;
                text-decoration: none;
                color: rgb(255, 255, 255);
              }
            }
          }
        }
      }
      .footer2 {
        color: rgb(255, 255, 255);
        margin-right: 10px;
      }
    }
  }

  @keyframes rotacion-imagen-imagen {
    00% {
      transform: rotatey(0deg);
    }
    50% {
      transform: rotatey(20deg);
    }
  }
  @media (max-width: 770px) {
    footer {
      text-align: center;
      position: absolute;
      width: 100%;
      background: rgb(28, 72, 84);
      background-color: black;
      .footer1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .rotacion-imagen-imagen {
          width: 200px;

          animation: rotacion-imagen-imagen 5s infinite linear;
          animation-delay: 1s;
        }
        .footer-redes {
          margin: 20px;
          svg {
            margin: 3px;
            height: 50px;
            color: rgb(255, 255, 255);
          }
        }
        .footer-secciones {
          display: none;
        }
      }
    }
  }
}
