/* PELICULA */
main {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  background: linear-gradient(
    180deg,
    rgb(193, 194, 169) 0%,
    rgba(157, 106, 3, 0) 72%
  );
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* DESCRIPCION Y TRAILER */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 1rem; /* Espacio entre columnas */
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}

.grid-item {
  min-width: 300px; /* Mínimo ancho antes de apilar */
}

.iframe-container-trailer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  margin: 10px 0;
}

.iframe-container-trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
