main {
  div {
    width: 90%;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
      180deg,
      rgb(193, 194, 169) 0%,
      rgba(157, 106, 3, 0) 72%
    );
    img {
      width: 40%;
    }
  }
}
