main {
  div {
    width: 95%;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
      180deg,
      rgb(186, 90, 206) 0%,
      rgba(157, 106, 3, 0) 72%
    );
    img {
      margin: 50px;
      width: 70%;
    }
  }
}
