footer {
  position: absolute;
  width: 100%;
  background: rgb(28, 72, 84);
  background: linear-gradient(
    0deg,
    rgb(49, 216, 208) 0%,
    rgba(157, 106, 3, 0) 72%
  );
  .footer1 {
    .rotacion-imagen-imagen {
      width: 200px;

      animation: rotacion-imagen-imagen 5s infinite linear; /* Seg: para la velocidad de giro / infinite linear para el giro continuo  */
      animation-delay: 1s;
    }
    .footer-redes {
      svg {
        margin: 3px;
        height: 50px;
        color: rgb(0, 0, 0);
      }
    }
    .footer-secciones {
      ul {
        li {
          list-style: none;
          a {
            font-size: 20px;
            text-decoration: none;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
  .footer2 {
    color: rgb(0, 0, 0);
    margin-right: 10px;
  }
}

@keyframes rotacion-imagen-imagen {
  00% {
    transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(20deg);
  }
}
