* {
  margin: 0;
  padding: 0;
}
body {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      margin-top: 150px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 95%;
      background-color: black;
      img {
        width: 30%;
      }
    }
    .inicio-sesion {
      display: flex;
      justify-content: center;
      padding: 15px;
      margin: 50px 0px;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 95%;
      background-color: black;
      .imput {
        width: 100%;
        .boton {
          width: 350px;
        }
        .error-message {
          display: none;
          margin-top: 1rem;
          padding: 0.75rem;
          background-color: #f8d7da;
          color: #721c24;
          border: 1px solid #f5c6cb;
          border-radius: 4px;
          text-align: center;
        }
      }
    }
  }

  footer {
    position: absolute;
    width: 100%;
    background-color: black;
    .footer1 {
      .rotacion-imagen-imagen {
        width: 200px;

        animation: rotacion-imagen-imagen 5s infinite linear; /* Seg: para la velocidad de giro / infinite linear para el giro continuo  */
        animation-delay: 1s;
      }
      .footer-redes {
        svg {
          margin: 3px;
          height: 50px;
          color: rgb(255, 255, 255);
        }
      }
      .footer-secciones {
        ul {
          li {
            list-style: none;
            a {
              font-size: 20px;
              text-decoration: none;
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
    .footer2 {
      color: rgb(255, 255, 255);
      margin-right: 10px;
    }
  }

  @keyframes rotacion-imagen-imagen {
    00% {
      transform: rotatey(0deg);
    }
    50% {
      transform: rotatey(20deg);
    }
  }
  @media (max-width: 770px) {
    footer {
      text-align: center;
      position: absolute;
      width: 100%;
      background: rgb(28, 72, 84);
      background-color: black;
      .footer1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .rotacion-imagen-imagen {
          width: 200px;

          animation: rotacion-imagen-imagen 5s infinite linear;
          animation-delay: 1s;
        }
        .footer-redes {
          margin: 20px;
          svg {
            margin: 3px;
            height: 50px;
            color: rgb(255, 255, 255);
          }
        }
        .footer-secciones {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  body {
    .main {
      .inicio-sesion {
        .imput {
          .boton {
            width: 100%;
          }
          .error-message {
          }
        }
      }
    }
  }
}
