.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .login-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background: linear-gradient(
      180deg,
      rgb(49, 216, 208) 0%,
      rgba(157, 106, 3, 0) 72%
    );
  }
  .error-message {
    display: none;
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .login-container {
    padding: 1.5rem;
  }

  .login-container h1 {
    font-size: 1.5rem;
  }
}
