.contenedor {
  width: 100%;
  background-image: url("ruta-de-tu-imagen.jpg");
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  justify-content: space-between;
  text-align: justify;
}
