body {
  .navbar {
    background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 0%,
      rgba(157, 106, 3, 0) 72%
    );
    img {
      width: 100px;
    }
    .custom-navbar1 {
      background-color: rgb(10, 179, 170);
      border: 3px solid rgba(0, 0, 0, 0.692);
    }
  }
}
@media (min-width: 771px) {
  .navbar {
    background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 0%,
      rgba(157, 106, 3, 0) 72%
    );
    img {
      width: 100px;
    }
    .custom-navbar1 {
    }
    .desplegable {
      .nav-footer {
        display: none;
      }
    }
  }
}
