main {
  .titulo {
    width: 95%;
    margin-top: 100px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    background-color: black;
    img {
      width: 50%;
    }
  }
  section {
    margin: 50px 0px;
    .cards1 {
      width: 95%;
      padding: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: black;
      gap: 20px;
    }
    .cards2 {
      width: 95%;
      gap: 20px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      background-color: black;
    }
  }
}
